.pageWrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.pageWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(to right,
            rgba(118, 118, 118, 0.457) 1px,
            transparent 1px);
    background-size: 100px 100px;
    pointer-events: none;
}
